

.nome{  

    text-align: center;
}

.central{
    text-align: center;
}

a:hover{
    color: red;

}


.cabecalho_copy{
    display: flex;
    justify-content:space-between;
    text-align: center;

    margin: 10px; 
    padding: 50px;
    
    background-color: bisque;
    font-size: 60px;
    color: green;
    border: solid 5px blue;
    
}

.links_copy{
background-color: lightskyblue;
text-align: center;
padding: auto;

}
.centraliza_copy{
    text-align: center;
    


}
.estilo_copy{
    background-color:lightgray ;


}
.letra_copy{
    color: lightslategray;
}
.cenraliza_copy_tabela{
    
    text-align: center;
    display: block;
    

}

.centraliza_guess {
    background-color:greenyellow;
    text-align: center;
}


.body_guess{
    background-color: gray;
    text-align: center;

}

#box1{
    text-align: center;
    height: 25px;
    width: 50px;
}


#tabela{
    text-align: center;
}


/* ----------------Canvas--------------  */
#body_canvas{
    background-color: bisque;
    text-align: center;
}

canvas{
    border: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    border: solid black 2px;
}

.espaco_canvas{
    margin-bottom: -20px;

}
